.Tile {
  background-color: $base-background-color;
  box-shadow: $form-box-shadow;

  &-padded {
    padding: $tile-padding;
  }

  &-padded-v {
    padding-top: $tile-padding;
    padding-bottom: $tile-padding;
  }

  &-padded-h {
    padding-left: $tile-padding;
    padding-right: $tile-padding;
  }
}
