@import "bourbon/bourbon";
@import "base/variables";

.Timetable .TimeMark {
  stroke: $base-border-color;

  &.noon {
    stroke: $action-color;
  }

  &.half-past {
    stroke-dasharray: 2 4;
  }
}
