fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  font-size: ($base-font-size / 4 * 3);
  &:active, &:focus {
    color: $action-color;
  }
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  max-width: 100%;
  width: auto;
  background-color: $base-background-color;
}

#{$all-text-inputs},
select[multiple] {
  transition: border-color $base-duration $base-timing;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  outline: 0;
  width: 100%;

  &:hover {
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border-bottom: $base-border;
    }
  }

  &.input-with-focus {
    background-color: $base-background-color;
    border-bottom: $base-border;
    padding: 0 0 ($input-padding - $input-border-width-blur) 0;

    &:focus {
      border-bottom-color: $action-color;
      border-bottom-width: $input-border-width-focus;
      padding-bottom: ($input-padding - $input-border-width-focus);
    }
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}
