// Smallest constant unit
$sp: 1rem / 14;
$dp: 1px;

// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$display-4-font-size:   112 * $sp;
$display-3-font-size:    56 * $sp;
$display-2-font-size:    45 * $sp;
$display-1-font-size:    34 * $sp;
$headline-font-size:     24 * $sp;
$title-font-size:        20 * $sp;
$subheading-font-size:   15 * $sp;
$body-font-size:         13 * $sp;
$caption-font-size:      12 * $sp;
$button-font-size:       14 * $sp;
$icon-font-size:         24 * $sp;

$base-font-size: $body-font-size;
$large-font-size: $base-font-size * 1.5;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 1rem / 4rem;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: rgb(0, 161, 255);
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$inactive-color: lighten($dark-gray, 12%);
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border-width: 1px;
$base-border: $base-border-width solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Inputs
$input-height: 30px;
$input-padding: 8px;
$input-border-width-focus: 2px;
$input-border-width-blur: $base-border-width;

// Shadows
$shadow-color: #ddd;
$shadow-shallow: $shadow-color 0 3px 2px;
$shadow-high: $shadow-color 0 3px 8px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
