.stacked-input-group {
  display: flex;
  flex-direction: column-reverse;

  *:focus + label {
    color: $action-color;
  }

  label {
    color: $inactive-color;
  }

  #{$all-text-inputs} {
    margin-bottom: $input-padding;
  }
}
