@import "bourbon/bourbon";
@import "base/variables";

.CollectionSelect {
  overflow-y: scroll;

  &-item {
    cursor: pointer;
    padding-bottom: $base-spacing/2;
    padding-top: $base-spacing/2;
    border-bottom: $base-border;
    display: flex;
    flex-direction: row;

    &:hover {
      background-color: $base-hover-color;
    }

    &.selected .icon {
      color: $action-color;
    }
  }
}
