@import "bourbon/bourbon";
@import "base/variables";

.Course {
  cursor: pointer;
  padding-bottom: $base-spacing/2;
  padding-top: $base-spacing/2;
  border-bottom: $base-border;

  &:hover {
    background-color: $base-hover-color;
  }

  &.selected .icon {
    color: $action-color;
  }

  & > * {
    min-width: $base-font-size * 4;
  }

  & > * + * {
    padding-left: $base-spacing;
  }
}
