@import "bourbon/bourbon";
@import "base/variables";

.Course {
  border-bottom: $base-border;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;
  cursor: pointer;

  &.selected i.icon {
    color: $action-color;
  }

  & > * {
    min-width: $base-font-size * 4;
  }

  & > * + * {
    padding-left: $base-spacing;
  }
}
