$border: 2px solid hsl(0, 0%, 90%);

.schedule {
  &-body {
    position: relative;
  }

  &-section,
  &-sections {
    position: absolute;
  }

  &-sections {
    height: 100%;
    width: 100%;
  }

  &-row {
    display: flex;
    flex-direction: row;
  }

  &-cell {
    flex: 1;
  }

  &-hour {
    text-align: right;
  }

  &-border {
    .schedule-row {
      border-top: $border;
    }

    .schedule-cell {
      border-left: $border;
      border-left-color: hsl(0, 0%, 80%);
    }
  }

  &-section {
    box-sizing: border-box;

    &-conflict {
      border: 4px dashed red;
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
