@import '../base';

$border: 2px solid hsl(0, 0%, 90%);

.schedule {

  &,
  &-body {
    @extend .column;
  }

  &-body {
    position: relative;
  }

  &-section,
  &-sections {
    position: absolute;
  }

  &-sections {
    width: 100%;
    height: 100%;
  }

  &-header {
    text-align: center;
  }

  &-row {
    display: flex;
    flex-direction: row;
  }

  &-cell {
    flex: 1;
  }

  &-hour {
    text-align: right;
  }

  &-border {
    .schedule-row {
     border-top: $border;
    }

    .schedule-cell {
      border-left: $border;
      border-left-color: hsl(0, 0%, 80%);
    }
  }

  &-section {
    width: 1/6 * 100%;
  }

  &-day-M {
    left: 1/6 * 100%;
  }

  &-day-T {
    left: 2/6 * 100%;
  }

  &-day-W {
    left: 3/6 * 100%;
  }

  &-day-R {
    left: 4/6 * 100%;
  }

  &-day-F {
    left: 5/6 * 100%;
  }
}
