@import "bourbon/bourbon";
@import "base/variables";

.TextField {
  height: 82px;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;

  input:focus + label {
    color: $action-color;
  }

  label {
    color: $inactive-color;
  }

  #{$all-text-inputs} {
    margin-bottom: $input-padding;
  }
}
