
.icon-spin3:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-beaker:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-graduation-cap:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-quote-left:before { content: '\e80d'; } /* '' */
.icon-quote-right:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-th:before { content: '\e810'; } /* '' */
.icon-th-large:before { content: '\e811'; } /* '' */
.icon-star-half:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-heart-empty:before { content: '\e817'; } /* '' */
.icon-forward:before { content: '\e818'; } /* '' */
.icon-reply-all:before { content: '\e819'; } /* '' */
.icon-reply:before { content: '\e81a'; } /* '' */
.icon-bookmark-empty:before { content: '\e81b'; } /* '' */
.icon-bookmark:before { content: '\e81c'; } /* '' */
.icon-tags:before { content: '\e81d'; } /* '' */
.icon-lock-open:before { content: '\e81e'; } /* '' */
.icon-lock-open-alt:before { content: '\e81f'; } /* '' */
.icon-lock:before { content: '\e820'; } /* '' */
.icon-link-ext:before { content: '\e821'; } /* '' */
.icon-attention:before { content: '\e822'; } /* '' */
.icon-arrows-cw:before { content: '\e823'; } /* '' */