<h2>Listing terms</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for term <- @terms do %>
      <tr>
        <td><%= term.semester %></td>
        <td><%= term.year %></td>
        <td class="text-right">
          <%= link "Show", to: term_path(@conn, :show, term), class: "btn btn-default btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
