.CourseSearch {
  form {
    display: flex;
    vertical-align: middle;
    overflow-y: hidden;
  }

  input {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    flex: 1;
  }
}
